*{
    padding: 0%;
    margin: 0%;
}
body{
    background: linear-gradient(to bottom, #4c53dc, #90c1da);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
/* informacion del header */ 
#header{
    position: fixed;
    top: 0;
    display: flex;
    background: linear-gradient(to bottom, #4c53dc, #90c1da);
    background-size: cover;
    list-style: none;
    background-attachment: fixed;
    height: 40px;
    border-color: rgba(0, 0, 0, 0.452);
    border-style: solid;
    transition: height 0.3s;
    align-items: center;
    width: 100%;
    
}
#header nav{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}
#header img{
    width: 100px;
    height: 100px;
    

}
#header_a a{
    display: flex;
    list-style: none;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
#header_a a:hover{
    color: black;
    text-decoration: underline;
}
/* informacion del contenedor principal */ 


#contenedorp{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 80%;
    margin-left: 150px;
    display: inline-block;
    margin-top: 100px;
}
#contenedorp h1{
    margin-top: 75px;
    margin-left: 80px;
    font-size: 48px;
}
#contenedorp h3{
    margin-top: 5px;
    margin-left: 80px;
    font-size: 20px;
}
#contenedorp_img {
    display: flex;
    border-radius: 5px;
    width: 600px;
    height: auto;
    float: right;
    margin-top: -158px;

    
}
#contenedorp p{
    width: 40%;
    margin-left: 80px;
    margin-top: 10px;
    font-size: 20px;
    text-align: justify;
    
}
.oculto{
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}
#texto{
    display: block;
}

#boton_img{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-left: 80px;
    gap: 20px;
}
#Boton1{
    background-image: url(/img/logoIN.png); 
    background-size: cover;
    width: 50px; 
    height: 50px; 
    border: none; 
    color: white; 
    transition: background-image 0.5s,background-color 0.5s;
    cursor: pointer;
}
#Boton1:hover{
    background-image: url(/img/logoINBLACK.png);
    background-color: white;
}
#boton2{
    background-image: url(/img/LogoFacebook.png);
    background-color: #1278F3;
    background-size: cover; 
    width: 50px; 
    height: 50px; 
    border: none; 
    color: white; 
    transition: background-image 0.5s,background-color 0.5s ;
    cursor: pointer;
    
}
#boton2:hover{
    background-image: url(/img/logoFaceBlanco.png);
    background-color: white;
}

#boton3{
    background-image: url(/img/gmail.png);
    background-size: cover; 
    width: 50px; 
    height: 50px; 
    background-color: white;
    border: none; 
    transition: background-image 0.5s;
    cursor: pointer;
}
#boton3:hover{
    background-image: url(/img/gmailblanco.png);
}

/* Todo esto fue del contenedor numero 1*/

/* iniciamos contenedor numero 2*/

#contenedor2 {
    width: 80%;
    margin-left: 150px;
    margin-top: 150px;
    font-size: 18px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#contenedor2 h1 {
    font-size: 38px;
    text-align: center; 
    
}

#contenedor2 h2 {
    font-size: 28px;
    text-align: center;
}

#contenedor2_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

#contenedor2_img a { 
    display: flex;
    text-align: center; 
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
}
#contenedor2_img a:hover{
    color: crimson;
    text-decoration: underline;
}

#contenedor2_img img {
    width: 330px;
    height: 330px;
    margin-right: 25px; 
    border-style: solid;
}
#contenedor2_img2 img{
    margin-top: 20px;
    border-style: solid;
    width: 330px;
    height: 330px;

}
#contenedor2_img2 a{
    display: flex;
    text-align: center; 
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
}
#contenedor2_img2 a:hover{
    color: crimson;
    text-decoration: underline;
}

#contenedor2_img3 img{
    margin-top: 10px;
    border-style: solid;
    width: 330px;
    height: 330px;
}
#contenedor2_img3 a{
    display: flex;
    text-align: center; 
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
}
#contenedor2_img3 a:hover{
    color: crimson;
    text-decoration: underline;
}
/* Se termino el 2do contenedor */

/* Contenedor 3 Habilidades*/
#contenedor3{
    width: 80%;
    margin-left: 150px;
    margin-top: 150px;
    font-size: 18px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
#contenedor3_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
#contenedor3_img img{
    margin-top: 50px;
    justify-content: center;
    width: 280px;
    height: 280px;
    border-style: solid;
    display: inline;
}
#contenedor3_img p{
    font-size: 20px;
    
    
}
#contenedor3_img section{
    width: 40%;
}

/* Diseño del footer*/
#Pie{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #474ecd, #82afc5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    list-style: none;
    padding: 20px;
    justify-content: center;
    

}
.columna{
    width: 50%;
    text-align:center;
}
.columna_a a{
    display: flex;
    text-decoration: none;
    margin-left: 290px;
    margin-top: 5px;
    width: 10%;
    
    
}
.columna_a a:hover{
    color: black;
    text-decoration: underline;
}
.columna_a2 a{
    text-decoration: none;
    display: inline;
    margin-top: 5px;
    text-align: center;
    
}
.columna_a2 a:hover{
    color: black;
    text-decoration: underline;
}
.columna_a2 p{
    margin-left: 10px;
    text-align: center;
}
#Pie h3{
    margin-top: 20px;
}
/* Se vienen los lloros más grandes de america*/
@media(max-width:750px){

}




